@model ImageContestSystem.Web.Models.ViewModels.PictureDetailsViewModel

<div class="col-md-4 picture-@Model.PictureId">
    <div class="row" id="box-search">
        <div class="thumbnail text-center">
            <img src="@Model.Url" alt="@Model.Author picture" class="img-responsive">
            <div class="caption" style="vertical-align: bottom;">
                <ul class="list-inline circle-list" style="color: #ffffff">
                    <li>@Model.VotesCount likes</li>
                    <li>Author: @Model.Author</li>
                </ul>
            </div>
        </div>
        @if (this.User.IsInRole("admin"))
        {
            <button class="confirm btn btn-danger" id="@Model.PictureId" type="button">Delete the picture</button>
        }
    </div>
    
</div>