@using ImageContestSystem.Common.DropBox
@model ImageContestSystem.Web.Models.ViewModels.VoteViewModel

<div class="col-xs-3">
    <div class="thumbnail thumb">
        <h2 class="text-center">@Model.Title</h2>
        <img src="@DropBoxRepository.Download(@Model.PictureUrl)" alt=""/>
        <div class="caption">
            <p>Available Votes: @Model.AvailableVotes | @Model.VotesCount</p>
            <p>Description: <i>@Model.Description</i>
            </p>
            <p>Author: @Model.OwnerUsername</p>
            <p>Date: @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</p>
            <p align="center">
                @Html.ActionLink("Vote For This Contest", "Contest", "Vote", new {Id = @Model.ContestId}, new {@class = "btn btn-primary btn-block"})
            </p>
        </div>
    </div>
</div>