@model List<ImageContestSystem.Web.Models.ViewModels.PictureViewModel>
@{
    ViewBag.Title = "Vote for picture";
}



<div class="well">
    <div class="col-lg-12">
        <h1 style="margin: 0" class="page-header text-center">Contests Vote</h1>
    </div>
    <div class="row">
        @foreach (var picture in @Model)
        {

            <div class="col-xs-6">
                <div class="thumbnail thumb" id="votes">
                    <img src="@picture.Url" />
                    <div class="caption">
                        @using (Ajax.BeginForm("Vote", "Vote", new { pictureId = picture.PictureId }, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "votes-count-" + @picture.PictureId,
                            InsertionMode = InsertionMode.Replace
                        }))
                        {
                            if (@picture.HasVoted)
                            {
                                <div id="votes-count-@picture.PictureId" class="text-right">Likes: @picture.VotesCount <input type="submit" class="btn btn-primary like-button" value="Unlike"/></div>
                            }
                            else
                            {
                                <div id="votes-count-@picture.PictureId" class="text-right">Likes: @picture.VotesCount <input type="submit" class="btn btn-primary like-button" value="Like" /></div>
                            }
                        }
                    </div>

                </div>
            </div>
        }
        
    </div>
</div>
