@model System.Linq.IQueryable<ImageContestSystem.Web.Models.ViewModels.PictureViewModel>
@{
    ViewBag.Title = "Vote for picture";
}



<div class="well">
    <div class="col-lg-12">
        <h1 style="margin: 0" class="page-header text-center">Contests Vote</h1>
    </div>
    <div class="row">
        @foreach (var picture in @Model)
        {

            <div class="col-xs-6">
                <div class="thumbnail thumb" id="votes">
                    <img src="@picture.Url" />
                    <div class="caption">
                        Likes: <span id="votes-count-@picture.PictureId"> @picture.VotesCount </span> <span class="pull-right">Uploader: @picture.UploaderUsername</span>
                        @using (Ajax.BeginForm("Vote", "Vote", new { pictureId = picture.PictureId }, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "votes-count-" + @picture.PictureId,
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "onVotePassed()",
                            OnFailure = "onVoteFailed()"
                        }))
                        {
                            if (@picture.HasVoted)
                            {
                                <input type="submit" class="btn btn-primary like-button" value="Unlike" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-primary like-button" value="Like" />
                            }
                        }
                    </div>

                </div>
            </div>
        }
        @section Scripts {

            <script>
                
                $(function () {
                    $('.like-button').click(function() {
                        var button = $(this);

                        if (button.attr("value") !== 'Like') {
                            button.val('Like');
                        } else {
                            button.val('Unlike');
                        }
                    });
                });

                function onVotePassed()
                {
                    //$('.like-button').click(function () 
                    //{
                    //    var button = $(this);

                    //    if (button.attr("value") !== 'Like')
                    //    {
                    //        button.val('Like');
                    //    }
                    //    else
                    //    {
                    //        button.val('Unlike');
                    //    }
                    //});
                };

                function onVoteFailed()
                {
                    alert("You don't have enough available votes");
                }

            </script>
        }
    </div>
</div>
