@using System.Data.Entity.Core.Common.EntitySql
@model System.Linq.IQueryable<ImageContestSystem.Web.Models.ViewModels.PictureViewModel>
@{
    ViewBag.Title = "Vote for picture";
}



<div class="well">
    <div class="col-lg-12">
        <h1 style="margin: 0" class="page-header text-center">Contests Vote</h1>
    </div>
    <div class="row">
        @foreach (var picture in @Model)
        {

            <div class="col-xs-6">
                <div class="thumbnail thumb" id="votes">
                    <img src="@picture.Url"/>
                    <div class="caption">
                        Votes: <span id="votes-count-@picture.PictureId"> @picture.VotesCount </span> Uploader: @picture.UploaderUsername
                        @using (Ajax.BeginForm("Vote", "Vote", new { pictureId = picture.PictureId }, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "votes-count-" + @picture.PictureId,
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "onVotePassed()",
                            OnFailure = "onVoteFailed()"
                        }))
                        {
                            if (@picture.HasVoted)
                            {
                                <input type="submit" class="btn btn-primary" value="Unlike" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-primary" value="Like" />
                            }
                        }
                    </div>

                        </div>
                    </div>
                    }
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                        <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>

                        <script>
                            function onVotePassed()
                            {
                                $.notify("Vote Successful!",
                                    {newest_on_top: true},
                                    { type: 'success' });
                            }

                            function onVoteFailed() {
                                $.notify("You don't have enough available votes!",
                                    { newest_on_top: true },
                                    { type: 'danger' });
                            }


                        </script>
                    }
                </div>
            </div>
